html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Nunito Regular";
}

a {
    text-decoration: none;
    color: #fff;
}

/* ================ Start Header =============== */


header {
    background: url("../images/headerBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
}

.logo-wrapper {

}

.logo-img {

}

.main-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    z-index: 9999;
}

.menu-item {
    margin: 0 25px;
}

.menu-link {

}

.login-btn {
    background-color: #fff;
    color: #93A5FF;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'Nunito Bold';
}
.login-btn span{
    margin-left: 10px;
}


.menu-icon{
    font-size: 28px;
    cursor: pointer;
    display: none;
}
.header-content{
    margin-top: 4rem;
}
.domain{
}
.header-title{
    font-family: Roboto;
    font-size: 2.5rem
}
.header-caption{
    font-size: 1.1rem;
    opacity: 0.8;
}
.header-txt{
    background-color: #384170;
    color: #fff;
    padding: 0.9rem 1rem;
    border-radius: 0.3rem 0 0 0.3rem;
    max-width: 280px;
    width: 100%;
}
.header-txt::placeholder{
    color: #fff;
    opacity: 0.8;
}
.header-domains{
    background-color: #384170;
    color: #fff;
    padding: 12px 20px 11px 10px;
    border-radius: 0 0.3rem 0.3rem 0;
}

.header-btn{
    margin-left: 2rem;
}

.d-flex.domain-wrapper {
    flex-basis: 23.75rem;
}

/* ================ Start main =============== */

.section-title{
    font-family: 'Nunito ExtraBold';
    font-size: 35px;
    color: #2E2E2E;
}
.section-caption{
    font-size: 18px;
    color: #2E2E2E;
    opacity: 0.8;
    margin-top: 10px;
}

/* ================ Services  =============== */
.services{
    text-align: center;
    padding: 50px 0;
}

.services div.row{
    margin-top: 80px;
}

.services{

}
.service{
   text-align: left;
   align-items: flex-start;
   margin-top: 40px;
}
.service img{
    margin-right: 20px;
}
.service-content h3{
    margin-top: 0;
    font-family: 'Nunito Bold';
    color: #2E2E2E;
}

.service-content p{
    color: #2E2E2E;
    opacity: 0.8;
    line-height: 25px;
    font-size: 17px;
    max-width: 430px;
}


/* ================ Start  =============== */
.start{
    background-color: #F7F8FF;
    padding: 70px 0;
}
.start .row .col-12{
    margin-bottom: 25px;
}

.start-box{
    background-color: #93A5FF;
    border-radius: 5px;
    padding: 30px;
    position: relative;
}
.start-logo{
    background-color: #424D83;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}
.start-title{
    font-family: 'Nunito Bold';
    color: #fff;
    margin-top: 38px;
}
.start-description{
    color: #fff;
    line-height: 28px;
}
.start-btn{
    background-color: #fff;
    font-family: 'Nunito Bold';
    color: #93A5FF;
    display: block;
    margin-left: auto;
}
.start-btn span{
    margin-left: 10px;
}
.start-img-fix{
    position: absolute;
    right: 30px;
    top: 30px;
    max-width: 220px;
}

.start-box-2{
    background-color: #424D83;
}

.start-logo2{
    background-color: #93A5FF ;
}