html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Nunito Regular";
}

a {
    text-decoration: none;
    color: #fff;
}

/* ================ Start Header =============== */


header {
    background: url("../images/headerBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
}

.logo-wrapper {

}

.logo-img {

}

.main-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    z-index: 9999;
}

.menu-item {
    margin: 0 25px;
}

.menu-link {

}

.login-btn {
    background-color: #fff;
    color: #93A5FF;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'Nunito Bold';
}
.login-btn span{
    margin-left: 10px;
}


.menu-icon{
    font-size: 28px;
    cursor: pointer;
    display: none;
}
.header-content{
    margin-top: 4rem;
}
.domain{
}
.header-title{
    font-family: Roboto;
    font-size: 2.5rem
}
.header-caption{
    font-size: 1.1rem;
    opacity: 0.8;
}
.header-txt{
    background-color: #384170;
    color: #fff;
    padding: 0.9rem 1rem;
    border-radius: 0.3rem 0 0 0.3rem;
    max-width: 280px;
    width: 100%;
}
.header-txt::placeholder{
    color: #fff;
    opacity: 0.8;
}
.header-domains{
    background-color: #384170;
    color: #fff;
    padding: 12px 20px 11px 10px;
    border-radius: 0 0.3rem 0.3rem 0;
}

.header-btn{
    margin-left: 2rem;
}

.d-flex.domain-wrapper {
    flex-basis: 23.75rem;
}